<!DOCTYPE html>
<html ng-app="deebobo">
    <head>
        <title><%= title %></title>
        <base href="/"> <!-- this is for switching to html5 app, so angular's ui-router doesn't need # in it's paths-->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/home.css' />
        <link rel='stylesheet' href='/stylesheets/menu.css' />

        <!--css for external libraries-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.css" rel="stylesheet" type="text/css"/>

        <!--icon fonts-->
        <link data-require="font-awesome@4.7.0" data-semver="4.7.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


    </head>
    <body layout="row">
    <ui-view layout="row" flex></ui-view>



    <!-- Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type='text/javascript' src="./js/ui-bootstrap-tpls-2.5.0.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route-segment/1.5.1/angular-route-segment.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>



    <script type="text/javascript" src="./js/lib/injector.js"></script>
    <script type='text/javascript' src="./js/functions.js"></script>
    <script type='text/javascript' src="./js/app.js"></script>

    <script type='text/javascript' src="./js/services/messages_service.js"></script>

    <script type='text/javascript' src="./js/filters.js"></script>




    <script type='text/javascript' src="./js/services/plugin_service.js"></script>
    <script type='text/javascript' src="./js/services/auth_service.js"></script>
    <script type='text/javascript' src="./js/services/site_service.js"></script>
    <script type='text/javascript' src="./js/services/menu_service.js"></script>        <!--menu service must be loaded before site_home-->
    <script type='text/javascript' src="./js/services/page_service.js"></script>
    <script type='text/javascript' src="./js/services/view_service.js"></script>
    <script type='text/javascript' src="./js/services/connection_data_service.js"></script>

    <script type='text/javascript' src="./js/directives/menu_toggle.directive.js"></script>
    <script type='text/javascript' src="./js/directives/menulink.directive.js"></script>
    <script type='text/javascript' src="./js/directives/json_text.directive.js"></script>

    <script type='text/javascript' src="./js/controllers/login.js"></script>
    <script type='text/javascript' src="./js/controllers/register.js"></script>
    <script type='text/javascript' src="./js/controllers/sites.js"></script>
    <script type='text/javascript' src="./js/controllers/admin_email.js"></script>
    <script type='text/javascript' src="./js/controllers/admin_email_templates.js"></script>
    <script type='text/javascript' src="./js/controllers/admin_gen.js"></script>
    <script type='text/javascript' src="./js/controllers/admin_plugins.js"></script>
    <script type='text/javascript' src="./js/controllers/admin_authorization.js"></script>
    <script type='text/javascript' src="./js/controllers/admin_connections.js"></script>
    <script type='text/javascript' src="./js/controllers/admin_functions.js"></script>

    <!--external libraries-->
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.min.js"></script>

    </body>
</html>