<h1>Authorization</h1>

<md-tabs md-dynamic-height md-border-bottom>

	<md-tab label="users">
        <md-content class="md-padding">
			
			<md-button class="md-primary"
					   ng-click="addUser()">Add user</md-button>
			
			<md-list ng-cloak>
				<md-list-item class="secondary-button-padding" ng-repeat="user in users" >
					
					<md-button class="md-button-toggle"
							   ng-click="toggleUserDetails()"
							   aria-controls="user-btn-{{user.name}}"
							   flex layout="row"
							   aria-expanded="{{isOpen()}}">
						{{user.name}}
						<span aria-hidden="true" class=" pull-right fa fa-chevron-down md-toggle-icon"
							  ng-class="{'toggled' : isOpen()}"></span>
						  
						<md-button class="md-primary"
								   ng-click="deleteUser(user)">delete user</md-button>  
								   
						<md-button class="md-primary"
								   ng-click="resetPwd(user)">reset password</md-button>  
						  
						<md-chips placeholder="Enter a tag"
								  ng-model="groups"
								  delete-button-label="Remove Tag"
								  delete-hint="Press delete to remove tag"
 								  secondary-placeholder="+Tag"
								  md-on-add="groupAddedTo(user, $chip)"
								  md-on-remove="groupRemovedFrom(user, $chip)">
						</md-chips>
					</md-button>
					
				</md-list-item>
			
			</md-list>
		  
		  
        </md-content>
    </md-tab>
	
	
	<md-tab label="groups">
        <md-content class="md-padding">
		
			<md-button class="md-primary"
					   ng-click="addGroup()">Add group</md-button>
		
			<md-list ng-cloak>
				<md-list-item class="secondary-button-padding" ng-repeat="group in groups" >
					
					<md-button class="md-button-toggle"
							   ng-click="toggleGroupDetails()"
							   aria-controls="groups-btn-{{group.name}}"
							   flex layout="row"
							   aria-expanded="{{isOpen()}}">
						{{group.name}}
						<span aria-hidden="true" class=" pull-right fa fa-chevron-down md-toggle-icon"
							  ng-class="{'toggled' : isOpen()}"></span>
							  
						<md-button class="md-primary"
								   ng-click="deleteGroup(group)">delete group</md-button>  
						  
						<md-chips ng-model="groups"
								  md-contacts="delayedQuerySearch($query)"
 								  md-contact-name="name"
								  md-contact-image="image"
								  md-contact-email="email"
								  md-require-match="true"
								  md-highlight-flags="i"
								  filter-selected="filterSelected"
								  placeholder="add user"
								  md-on-add="groupAddedTo($chip, group)"
								  md-on-remove="groupRemovedFrom($chip, group)">
						</md-chips>  
						
					</md-button>
					
				</md-list-item>
			
			</md-list>
        </md-content>
    </md-tab>

</md-tabs>