<h1>Authorization</h1>

<md-tabs md-dynamic-height md-border-bottom>

	<md-tab label="users">
        <md-content class="md-padding">
			
			<md-button class="md-primary"
					   ng-click="addUser()">Add user</md-button>
			
			<md-list ng-cloak layout="column">
				<md-list-item class="secondary-button-padding" ng-repeat="user in users" layout-align="center stretch" layout-fill layout="column">
					
					<md-button class="md-button-toggle"
							   ng-click="user.isOpen = !user.isOpen"
							   aria-controls="user-btn-{{user.name}}"
							   flex 
							   aria-expanded="user.isOpen = !user.isOpen">
					
						<div flex layout="row"
							 layout-align="end center">
							{{user.name}}

							<span aria-hidden="true" class="fa fa-chevron-down md-toggle-icon"
								  ng-class="{'toggled' : user.isOpen}" ></span>
						</div>
					</md-button>		   
						  
					<md-button class="md-primary"
							   ng-click="deleteUser(user)">delete user</md-button>  
							   
					<md-button class="md-primary"
							   ng-click="resetPwd(user)">reset password</md-button>  
					  
					<md-chips placeholder="Enter a tag"
							  ng-model="groups"
							  delete-button-label="Remove Tag"
							  delete-hint="Press delete to remove tag"
							  secondary-placeholder="+Tag"
							  md-on-add="groupAddedTo(user, $chip)"
							  md-on-remove="groupRemovedFrom(user, $chip)">
					</md-chips>
					
				</md-list-item>
			
			</md-list>
		  
		  
        </md-content>
    </md-tab>
	
	
	<md-tab label="groups">
        <md-content class="md-padding">
		
			<md-button class="md-primary"
					   ng-click="addGroup()">Add group</md-button>
		
			<md-list ng-cloak>
				<md-list-item class="secondary-button-padding" ng-repeat="group in groups" >
					
					<md-button class="md-button-toggle"
							   ng-click="group.isOpen = !group.isOpen"
							   aria-controls="groups-btn-{{group.name}}"
							   flex layout="row"
							   aria-expanded="group.isOpen = !group.isOpen"">
					   <div flex="95" >
                            {{group.name}}
                        </div>
						<span aria-hidden="true" class=" pull-right fa fa-chevron-down md-toggle-icon"
							  ng-class="{'toggled' : group.isOpen}"></span>
							  
						<div ng-show="group.isOpen == true" layout="column">
							<md-button class="md-primary"
								   ng-click="deleteGroup(group)">delete group</md-button>  
							  
							<md-chips ng-model="groups"
									  md-contacts="delayedQuerySearch($query)"
									  md-contact-name="name"
									  md-contact-image="image"
									  md-contact-email="email"
									  md-require-match="true"
									  md-highlight-flags="i"
									  filter-selected="filterSelected"
									  placeholder="add user"
									  md-on-add="groupAddedTo($chip, group)"
									  md-on-remove="groupRemovedFrom($chip, group)">
							</md-chips>  
						</div>
						
					</md-button>
					
				</md-list-item>
			
			</md-list>
        </md-content>
    </md-tab>

</md-tabs>