<h1>Configure email</h1>
<md-tabs md-dynamic-height md-border-bottom>

	<md-tab label="configuration">
        <md-content class="md-padding">
          <form ng-submit="submitEmailplugin(email)">
			
			<label for="emailTemmplate" >email template: </label><br />
			<select id="emailTemmplate" ng-model="email.template" ng-options="x.name for x in emailPlugins" >
				<md-tooltip >The plugin used for sending out emails.</md-tooltip>
			</select>
			<br />
			
			<input type="submit" value="Submit" />
		  </form>
		  <ng-include src="{{emailConfigPartial}}"></ng-include>
        </md-content>
    </md-tab>
	
	
	<md-tab label="templates">
        <md-content class="md-padding">
		
			<md-button class="md-primary"
					   ng-click="addTemplate()">Add template</md-button>
					   
			<md-list ng-cloak>
				<md-list-item class="secondary-button-padding" ng-repeat="template in templates" >
					
					<md-button class="md-button-toggle"
							   ng-click="toggleTemplateDetails()"
							   aria-controls="templates-btn-{{template.name | nospace}}"
							   flex layout="row"
							   aria-expanded="{{isOpen()}}">
						{{template.name}}
						<span aria-hidden="true" class=" pull-right fa fa-chevron-down md-toggle-icon"
							  ng-class="{'toggled' : isOpen()}"></span>
						  
						<md-button class="md-primary"
									ng-click="deleteTemplate()">delete</md-button>  
						  
						<form ng-submit="submitTemplate()">
							
							<input ng-show="isOpen()" id="template-input-{{template.name | nospace}}" ng-model="content">
							</input>
							<br />
							
							<input type="submit" value="Submit" />
						</form> 
					</md-button>
					
				</md-list-item>
			
			</md-list>
        </md-content>
    </md-tab>

</md-tabs>