<div ng-cloak class="home" layout="column" layout-fill role="main" >
    <div class="md-grid" layout-fill >

        <md-list flex layout="row" layout-fill  layout-align="center start" >
            <md-list-item >
                <div >
                    <md-button class="md-grid-item-content" ui-sref="login" >
                        <md-icon md-svg-src="images/login.svg"></md-icon>
                        <div class="md-grid-text"  style="text-align: center;"> Log in </div>
                    </md-button>
                </div>
            </md-list-item>

            <md-list-item  >
                <div >
                    <md-button flex class="md-grid-item-content" ui-sref="register">
                        <md-icon md-svg-src="images/account-plus.svg"></md-icon>
                        <div class="md-grid-text" layout="column" layout-align="center center">
                            <div>Register</div>
                            <div >on an</div>
                            <div>existing site</div>
                        </div>
                    </md-button>
                </div>
            </md-list-item>

            <md-list-item >
                <div>
                    <md-button class="md-grid-item-content" ui-sref="create">
                        <md-icon md-svg-src="images/site.svg"></md-icon>
                        <div class="md-grid-text" layout="column" layout-align="center center">
                            <div>Create a</div>
                            <div >new site</div>
                        </div>
                    </md-button>
                </div>
            </md-list-item>

        </md-list>
    </div>
</div>