

<div layout="column" layout-fill ng-cloak class="dbb_admin_page">


	<md-content>
		<div ng-repeat="func in functions">
			<form ng-submit="save(func)"
				  layout="column">
				<md-card>
					<md-card-title>
						<md-card-title-text>
							<md-input-container flex layout-fill>
								<label for="name-{{func.name}}" >name </label>
								<input id="name-{{func.name}}" type="text" ng-model="func.name" class="form-control" ng-change="func.needsSave = true" ng-click="$event.stopPropagation()" />
								<md-tooltip >The name of the function</md-tooltip>
							</md-input-container>
							<span ng-if="func.warning">error</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<md-input-container  class="md-block">
							<label for="plugin-{{data.to}}" >plugin</label>
							<md-select   ng-model="func.source" required ng-change="func.needsSave = true">
								<md-option ng-value="x" ng-repeat="x in functionPlugins">{{ x.name }} ({{x.description}}) </md-option>
							</md-select>
							<md-tooltip >Select the function plugin.</md-tooltip>
						</md-input-container>


						<pluginconfigurator plugin="func.source" value="func"/>

					</md-card-content>
					<md-card-actions layout="row" layout-align="end center">
						<md-button class="md-primary"
								   ng-click="delete($index, func, $event)">delete</md-button>

						<md-button type="submit" ng-if="func.needsSave === true">save</md-button>

					</md-card-actions>
				</md-card>

			</form>
		</div>
	</md-content>
</div>