<div layout="column" layout-fill ng-cloak class="dbb_admin_page" >

    <md-tabs md-dynamic-height md-border-bottom class="md-primary">
        <md-tab label="site" >
            <md-content class="md-padding">
                <form ng-submit="submitSiteDetails(site)">

                    <div layout-gt-sm="row" layout="column" >
                        <div flex-gt-sm="50" flex layout="column">

                            <md-input-container class="md-block">
                                <label for="siteTitle" >site title</label>
                                <input type="text" id="siteTitle" ng-model="site.title" ng-change="siteNeedsSave = true">
                                </input>
                                <md-tooltip >The title for the site</md-tooltip>
                            </md-input-container>

                            <md-input-container  class="md-block">
                                <label for="adminEmail" >admin email </label>
                                <input type="text" id="adminEmail" ng-model="site.contactEmail" ng-change="siteNeedsSave = true">
                                <md-tooltip >The email address of the administrator for this site.</md-tooltip>
                                </input>
                            </md-input-container>

                            <md-input-container  class="md-block">
                                <label for="viewGroup" >view group</label>
                                <md-select id="viewGroup" ng-model="site.viewGroup" ng-change="siteNeedsSave = true">
                                    <md-option ng-value="x._id" ng-repeat="x in viewGroups">{{ x.name }}</md-option>
                                </md-select>
                                <md-tooltip >Select the group that newly registered users will be assigned to.</md-tooltip>
                                <div class="md-errors-spacer"></div>
                            </md-input-container>

                            <md-input-container  class="md-block">
                                <label for="homepage" >homepage</label>
                                <md-select id="homepage" ng-model="site.homepage" ng-change="siteNeedsSave = true">
                                    <md-option ng-value="x.name" ng-repeat="x in pages">{{ x.name }}</md-option>
                                </md-select>
                                <md-tooltip >Select the page that will be shown by default when first logged in.</md-tooltip>
                                <div class="md-errors-spacer"></div>
                            </md-input-container>

                            <md-input-container  class="md-block">
                                <label for="defaultView" >default view</label>
                                <md-select id="defaultView" ng-model="site.defaultView" ng-change="siteNeedsSave = true">
                                    <md-option ng-value="x.name" ng-repeat="x in views">{{ x.name }}</md-option>
                                </md-select>
                                <md-tooltip >Select the view that will be loaded in the homepage when first logged in.</md-tooltip>
                                <div class="md-errors-spacer"></div>
                            </md-input-container>

                        </div>

                        <div flex-gt-sm="50" flex layout="column">
                            <md-input-container  class="md-block">
                                <md-checkbox ng-model="site.allowRegistration" id="allowRegistration" ng-change="siteNeedsSave = true">
                                    allow registration
                                    <md-tooltip >Determines if users can register on this site or only through invitation.</md-tooltip>
                                </md-checkbox>
                            </md-input-container>

                            <md-input-container  class="md-block">
                                <md-checkbox  ng-model="site.requestEmailConfirmation" id="requestEmailConfirmation" ng-change="siteNeedsSave = true">
                                    request email confirmation
                                    <md-tooltip >Determines if users can register on this site or only through invitation.</md-tooltip>
                                </md-checkbox>
                            </md-input-container>

                            <md-input-container  class="md-block">
                                <md-checkbox type="checkbox" ng-model="site.sendHelloEmail" id="sendHelloEmail" ng-change="siteNeedsSave = true">
                                    send hello email
                                    <md-tooltip >when true, a hello email is sent to newly registered users (if the email template exists).</md-tooltip>
                                </md-checkbox>
                            </md-input-container>
                        </div>

                    </div>
                    <div layout="row" layout-align="end center">
                        <md-button type="submit"
                                   ng-if="siteNeedsSave === true">save
                        </md-button>
                    </div>
                </form>
            </md-content>
        </md-tab>

        <md-tab label="appearance">
            <md-content class="md-padding">

                <form ng-submit="submitSiteDetails(site)" layout-align="center stretch" layout-fill layout="column" layout-padding="10%">

                    <div layout-gt-sm="row" layout="column" >
                        <div flex-gt-sm="50" flex layout="column">
                            <md-input-container  class="md-block">
                                <label for="themePrimary" >Primary color</label>
                                <md-select id=themePrimary" ng-model="site.theme.primary" ng-change="siteNeedsSave = true" >
                                    <md-option ng-value="x.name" ng-repeat="x in colors" > <div layout="row"  > <div style="height: 16px; width: 16px; background: {{x.color}}; margin-right: 4px"/> <span>{{ x.name }}</span>  </div>  </md-option>
                                </md-select>
                                <md-tooltip >Select the primary color palette.</md-tooltip>
                                <div class="md-errors-spacer"></div>
                            </md-input-container>

                            <md-input-container  class="md-block">
                                <label for="themeAccent" >Accent color</label>
                                <md-select id=themeAccent" ng-model="site.theme.accent" ng-change="siteNeedsSave = true">
                                    <md-option ng-value="x.name" ng-repeat="x in colors"> <div layout="row"> <div style="height: 16px; width: 16px; background: {{x.color}}; margin-right: 4px"/> <span>{{ x.name }}</span>  </div>  </md-option>
                                </md-select>
                                <md-tooltip >Select the accent color palette.</md-tooltip>
                                <div class="md-errors-spacer"></div>
                            </md-input-container>
                        </div>

                        <div flex-gt-sm="50" flex layout="column">
                            <md-input-container  class="md-block">
                                <label for="themeWarn" >Warning color</label>
                                <md-select id=themeWarn" ng-model="site.theme.warn" ng-change="siteNeedsSave = true">
                                    <md-option ng-value="x.name" ng-repeat="x in colors"> <div layout="row"> <div style="height: 16px; width: 16px; background: {{x.color}}; margin-right: 4px"/> <span>{{ x.name }}</span>  </div>  </md-option>
                                </md-select>
                                <md-tooltip >Select the warning color palette.</md-tooltip>
                                <div class="md-errors-spacer"></div>
                            </md-input-container>

                            <md-input-container  class="md-block">
                                <label for="themeBackground" >Background color</label>
                                <md-select id=themeBackground" ng-model="site.theme.background" ng-change="siteNeedsSave = true">
                                    <md-option ng-value="x.name" ng-repeat="x in colors"> <div layout="row"> <div style="height: 16px; width: 16px; background: {{x.color}}; margin-right: 4px"/> <span>{{ x.name }}</span>  </div>  </md-option>
                                </md-select>
                                <md-tooltip >Select the background color palette.</md-tooltip>
                                <div class="md-errors-spacer"></div>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row" layout-align="end center">
                        <md-button type="submit"
                                   ng-if="siteNeedsSave === true">save
                        </md-button>
                    </div>
                </form>
            </md-content>
        </md-tab>

    </md-tabs>
</div>