

<div layout="row" layout-align="center center" >

    <div flex="80" layout="column" layout-align="center stretch">

        <md-toolbar class="md-table-toolbar md-default" layout="row">
            <div class="md-toolbar-tools">
                <span>Connections</span>
            </div>
            <div flex></div>
            <md-button class="md-primary"
                       ng-click="addConnection()">
                <md-icon md-font-icon="fa-plus-circle" class="fa fa-lg"></md-icon>
            </md-button>
        </md-toolbar>

        <md-list ng-cloak  layout="column">
            <md-list-item ng-repeat="connection in connections" layout-align="center stretch" layout-fill layout="column">


                <form ng-submit="save(connection)" layout-align="center stretch" layout-fill layout="column" layout-padding="10%">


                    <div layout="row" layout-align="start center">
                        <div ng-if="connection.isOpen == true" flex="95">

                            <md-input-container flex layout-fill>
                                <label for="name-{{connection.name}}" >name</label>
                                <input id="name-{{connection.name}}" type="text" ng-model="connection.name" class="form-control" ng-change="connection.needsSave = true" ng-click="$event.stopPropagation()" />
                            </md-input-container>
                            <md-tooltip md-z-index="10">The name of the connection</md-tooltip>
                        </div>

                        <md-button class="md-button-toggle"
                                   ng-click="connection.isOpen = !connection.isOpen"
                                   aria-controls="connections-btn-{{connection.name}}"
                                   aria-expanded="connection.isOpen = !connection.isOpen"
                                   flex
                                   style="min-width:30px"
                                   >
                            <div flex layout="row"
                                 layout-align="end center">
                                <div ng-if="!connection.isOpen" flex="95" >
                                    {{connection.name}}
                                </div>
                                <span ng-if="connection.warning">error</span>
                                <span aria-hidden="true" class="fa fa-chevron-down md-toggle-icon"
                                      ng-class="{'toggled' : connection.isOpen}" ></span>
                            </div>

                        </md-button>
                    </div>





                    <div ng-show="connection.isOpen == true" layout="column">

                        <span ng-if="connection.warning">connection.warning</span>

                        <select class="form-control"  ng-model="connection.plugin" ng-options="x.name + '(' + x.description + ')' for x in connectionPlugins track by x._id" required ng-change="connection.needsSave = true"></select>

                        <pluginconfigurator plugin="connection.plugin" value="connection"/>


                        <div layout="row" layout-align="end center">
                            <md-button class="md-primary"
                                       ng-click="delete(connection, $event)">delete
                                <md-tooltip >delete the connection</md-tooltip></md-button>

                            <input type="submit" value="save"
                                   ng-if="connection.needsSave === true"/>
                        </div>

                    </div>
                </form>
            </md-list-item>
        </md-list>

    </div>
</div>