<div layout="column" layout-fill ng-cloak class="dbb_admin_page">



    <md-tabs md-border-bottom md-swipe-content flex class="md-primary">

        <md-tab label="configuration"
                md-on-select="templatesSelected = false">
            <md-content class="md-padding">

                <form ng-submit="saveEmailConfig (mailConfig)"
                      layout="column">
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">email processor plugin</span>
                                <span class="md-subhead">Select and configure the plugin that will send out emails to your users.</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>


                            <md-input-container  class="md-block">


                                <select id="emailPlugin"
                                        ng-model="plugin"
                                        ng-options="x.name for x in emailPlugins track by x.name"
                                        ng-change="pluginChanged(plugin)">
                                </select>
                                <md-tooltip>The plugin used for sending out emails.</md-tooltip>



                               <!-- <md-select ng-model="plugin" required ng-change="pluginChanged(plugin)" ng-model-options="{trackBy: '$value.name'}">
                                    <md-option ng-value="emailPlugin" ng-repeat="emailPlugin in emailPlugins">{{emailPlugin.name}}</md-option>
                                </md-select>
                                <md-tooltip>The plugin used for sending out emails.</md-tooltip>
                                -->
                            </md-input-container>





                            <pluginconfigurator plugin="plugin" value="mailConfig"/>

                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">

                            <md-button type="submit"
                                      ng-if="mailConfig.needsSave === true">Save</md-button>

                        </md-card-actions>
                    </md-card>

                </form>


            </md-content>
        </md-tab>


        <md-tab label="templates"
                md-on-select="templatesSelected = true">

            <md-content>
                <div ng-repeat="template in templates">
                    <form ng-submit="saveTemplate(template)"
                          layout="column">
                        <md-card>
                            <md-card-title>
                                <md-card-title-text>
                                    <md-input-container flex layout-fill>
                                        <label for="name-{{template.name}}">name </label>
                                        <input id="name-{{template.name}}" type="text" ng-model="template.name"
                                               class="form-control" ng-change="template.needsSave = true"
                                               ng-click="$event.stopPropagation()"/>
                                        <md-tooltip>The name of the email template</md-tooltip>
                                    </md-input-container>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>

                                <md-input-container flex layout-fill>
                                    <label for="subject-{{template.name}}">subject </label>
                                    <input id="subject-{{template.name}}" type="text" ng-model="template.subject"
                                           class="form-control" ng-change="template.needsSave = true"
                                           ng-click="$event.stopPropagation()"/>
                                    <md-tooltip>The subject line of the email template</md-tooltip>
                                </md-input-container>


                                <md-input-container flex layout-fill style="margin-top: 20px;">
                                            <textarea type="text"
                                                      id="template-input-{{template.name | nospace}}"
                                                      rows="5"
                                                      ng-model="template.body"
                                                      ng-change="template.needsSave = true"
                                                      flex></textarea>
                                    <md-tooltip>The template body</md-tooltip>
                                </md-input-container>

                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button ng-click="delete(template, $event)">delete
                                </md-button>

                                <md-button type="submit"
                                           class="md-primary"
                                           ng-if="template.needsSave === true">save</md-button>


                            </md-card-actions>
                        </md-card>

                    </form>
                </div>
            </md-content>


        </md-tab>

    </md-tabs>
</div>