

<div layout="column" layout-fill ng-cloak class="dbb_admin_page">

	<md-content>
		<div ng-repeat="connection in connections">
			<form ng-submit="save(connection)"
				  layout="column">
				<md-card>
					<md-card-title>
						<md-card-title-text>
							<md-input-container flex layout-fill>
							<label for="name-{{connection.name}}" >name</label>
							<input id="name-{{connection.name}}" type="text" ng-model="connection.name" class="form-control" ng-change="connection.needsSave = true" ng-click="$event.stopPropagation()" />
							<md-tooltip md-z-index="10">The name of the connection</md-tooltip>
						</md-input-container>
						</md-card-title-text>
						<span ng-if="connection.warning">error</span>
					</md-card-title>
					<md-card-content>

						<select class="form-control"  ng-model="connection.plugin" ng-options="x.name + '(' + x.description + ')' for x in connectionPlugins track by x._id" required ng-change="connection.needsSave = true"></select>

						<pluginconfigurator plugin="connection.plugin" value="connection"/>

					</md-card-content>
					<md-card-actions layout="row" layout-align="end center">
						
						<md-button class="md-primary"
								   ng-click="delete(connection, $event)">delete
						<md-tooltip >delete the connection</md-tooltip></md-button>

						<md-button type="submit"
									ng-if="connection.needsSave === true">save
						</md-button>
							   
					</md-card-actions>
				</md-card>

			</form>
		</div>
	</md-content>

</div>