<div layout="column" layout-fill ng-cloak class="dbb_admin_page">

    <md-tabs md-border-bottom flex class="md-primary">

        <md-tab label="users"
                md-on-select="usersSelected = true">

            <md-content class="md-padding">

                <div ng-repeat="user in users">
                    <form ng-submit="saveUser(user)"
                          layout="column">
                        <md-card>
                            <md-card-title>
                                <md-input-container flex layout-fill>
                                    <label for="name-{{user.name}}" >name </label>
                                    <input id="name-{{user.name}}" type="text" ng-model="user.name" class="form-control" ng-change="user.needsSave = true" ng-click="$event.stopPropagation()" />
                                    <md-tooltip >The name of the user</md-tooltip>
                                </md-input-container>
                            </md-card-title>
                            <md-card-content>
                                <md-input-container flex layout-fill>
                                    <label for="email-{{user.email}}" >email </label>
                                    <input id="email-{{user.email}}" type="text" ng-model="user.email" class="form-control" ng-change="user.needsSave = true"  />
                                    <md-tooltip >The email address of the user</md-tooltip>
                                </md-input-container>




                                <md-chips ng-model="user.groups"
                                          md-transform-chip="checkGroupChip(user, $chip)"
                                          md-on-add="groupAddedTo(user, $chip)"
                                          md-on-remove="groupRemovedFrom(user, $chip)"
                                          delete-button-label="Remove Tag"
                                          delete-hint="Press delete to remove tag">
                                    <md-chip-template>
                                            <span>
                                              <strong>{{$chip.name}}</strong>
                                            </span>
                                    </md-chip-template>

                                    <md-autocomplete
                                            md-selected-item="user.selectedItem"
                                            md-search-text="user.searchText"
                                            md-items="item in groups"
                                            md-item-text="item.name"
                                            placeholder="Search for a group">
                                        <span md-highlight-text="user.searchText">{{item.name}}</span>
                                    </md-autocomplete>
                                </md-chips>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">


                                <md-button class="md-primary"
                                           ng-click="deleteUser(user)">delete</md-button>

                                <md-button class="md-primary"
                                           ng-click="resetPwd(user, $ev)">reset password</md-button>

                                <md-button type="submit"
                                            ng-if="user.needsSave === true">
                                    Save
                                </md-button>


                            </md-card-actions>
                        </md-card>

                    </form>
                </div>
            </md-content>
        </md-tab>


        <md-tab label="groups"
                md-on-select="usersSelected = false">
            <md-content class="md-padding">


                <md-list ng-cloak layout="column">
                    <md-list-item  ng-repeat="group in groups" layout-align="center stretch" layout-fill layout="column">

                        <form ng-submit="saveGroup(group)" >

                            <div layout="row"  layout-align="center start" >
                                <md-input-container flex="60" >
                                    <label for="name-{{group._id}}" >name</label>
                                    <input type="text" id="name-{{group._id}}" ng-model="group.name" ng-change="group.needsSave = true">
                                    </input>
                                    <md-tooltip >The name of the group</md-tooltip>
                                </md-input-container>

                                <md-input-container flex="40" >
                                    <label for="viewGroup-{{group._id}}" >view group</label>
                                    <md-select id="viewGroup-{{group._id}}" ng-model="group.level" ng-change="group.needsSave = true">
                                        <md-option value="admin">admin</md-option>
                                        <md-option value="edit">edit</md-option>
                                        <md-option value="view">view</md-option>
                                        <md-option value="public">public</md-option>
                                    </md-select>
                                    <md-tooltip >Select the group that newly registered users will be assigned to.</md-tooltip>
                                </md-input-container>

                                <input type="submit" value="save"
                                       ng-if="group.needsSave === true"/>

                            </div>

                        </form>

                    </md-list-item>

                </md-list>
            </md-content>
        </md-tab>

    </md-tabs>
</div>
