<div ng-cloak class="home" layout="column" layout-fill layout-align="start center">
    <h1>Login</h1>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <form  ng-submit="login()" layout="column" style="width: 300px; height: 250px">

        <md-input-container flex>
            <label for="username">Username or email</label>
            <input type="text"  id="username" ng-model="loginForm.username" required>
        </md-input-container>

        <md-input-container flex>
            <label for="password">Password</label>
            <input type="password"  id="password" ng-model="loginForm.password" required>
        </md-input-container>

        <md-input-container flex>
            <label for="site">Site</label>
            <md-select id="site"   ng-model="loginForm.selectedSite" flex required>
                <md-option ng-value="x._id " ng-repeat="x in sites">{{x._id}}</md-option>
            </md-select>
        </md-input-container>

        <div>
            <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
			<a ng-href="resetpwd" ng-click="resetPwd()">Reset password</a>
        </div>
    </form>
</div>
