<div class="col-md-4">
    <h1>Create your site</h1>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <form class="form" ng-submit="createsite()">

        <div class="form-group">
            <label>Admin name</label>
            <input type="text" class="form-control" name="username" ng-model="createForm.username" required>
        </div>
		
		<div class="form-group">
            <label>Admin email</label>
            <input type="email" class="form-control" name="email" ng-model="createForm.email" required>
        </div>

        <div class="form-group">
            <label>Admin password</label>
            <input type="password" class="form-control" name="password" ng-model="createForm.password" required>
        </div>
		
		<div class="form-group">
            <label>Site name</label>
            <input type="text" class="form-control" name="sitename"   ng-model="createForm.sitename" required>
        </div>
		
        <div>
            <button type="submit" class="btn btn-default" ng-disabled="disabled">Create</button>
        </div>
    </form>
</div>